<!-- Contact Section -->
<section data-anchor="contact" class="section contact-section text-center">
    <div class="cell">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="section-heading">Contact</h1>
                    {% include contactform.html %}
                    <p><small>Copyright &copy; Cuppapub {{ site.time | date: "%Y" }}</small></p>
                </div>
            </div>
        </div>
    </div>
</section>