<!-- On Design Section -->
<section data-anchor="ondesign" class="section ondesign-section text-center">
	<div class="cell">
		<div class="container">
	  	  <div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<img src="images/Cover-On_Design-Book_One330x500.png" alt="On Design: Book One">
					<h1 class="section-heading">Blog</h1>
					<p>From time to time, he writes things other than full-length novels, such as short stories and occasionally poems. Here is a listing of them, which are published here on the blog and elsewhere. You can also find the latest news and announcements here.</p>
					<p><br/ ></p>
					<a href="https://gumroad.com/l/demo" class="button next inverse">Coming Soon</a>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
